.container{
  text-align: center;
}
.search-box{
  width: 50vw;
}
@media (max-width: 556px){
  .search-box{
    width: 80vw;
  }
}
@media (min-width: 1200px){
  .search-box{
    width: 35vw;
  }
}
input{
  border: none;
  width: 100%;
  padding: 1em 1.2em;
  border-radius: 5px;
  margin-top: 1em;
  box-shadow: 0 2px 5px 0.5px #ccccccb0;
  color: #707070;
}
input:focus{
  outline: none;
}
input::placeholder{
  color: #aaa;
}

.thin_text{
  font-weight: bold;
  font-size: 1em;
}
.temp_text{
  font-weight: lighter;
  font-size: 4em;
  margin: 0;
}

.info-section{
  margin-top: 3em;
}